<html lang="ch-zn">
<head>
    <title>登录</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>

<div id="login" style="width: 200px;margin: 200px auto auto;">
    <div>
        <input id="account" placeholder="请输入账号" v-model="account">
    </div>
    <div>
        <input id="password" placeholder="请输入密码" type="password"> <span></span>
    </div>
    <div>
        <button @click="login()">登录</button>
    </div>
    <div>
        <span id="ac_span" style="color: red;"></span>
    </div>
</div>

<script>

    new Vue({
        el: "#login",
        data: {}
    });

    function login() {
        let account = $("#account");
        let password = $("#password");

        if (account.val().length === 0 || password.val().length === 0) {
            $("#ac_span").text("账号不能为空")
        } else {
            $("#ac_span").text("")
        }

        Post("account/login",
            JSON.stringify({'account': account.val(), 'password': password.val()}),
            function (res) {
                window.location.href = "";
                console.log(res["data"])
            },
            function (res) {
                console.log(res)
            }
        )


    }
</script>


</body>
</html>