<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


{{/*var baseurl = "http://localhost:8021/web/api/";*/}}

{{/*function Post(url, data, suc, err) {*/}}
{{/*$.ajax({*/}}
{{/*url: baseurl + url,*/}}
{{/*type: "POST",*/}}
{{/*contentType: "application/json",*/}}
{{/*data: data,*/}}
{{/*success: function (res) {*/}}
{{/*if (res["code"] === 0) {*/}}
{{/*suc(res)*/}}
{{/*} else {*/}}
{{/*err(res["msg"])*/}}
{{/*}*/}}
{{/*},*/}}
{{/*error: function (res) {*/}}
{{/*err(res["msg"])*/}}
{{/*},*/}}
{{/*})*/}}
{{/*}*/}}